{% extends 'base.html.twig' %}

{% block title %}Blog | Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/blog.css') }}">
{% endblock %}

{% block main %}
    <main class="container body-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-4">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form method="POST" action="{{ path('login') }}">
                            <div class="form-group row">
                                <label for="login" class="col-sm-4 col-form-label text-md-right">Login</label>
                                <div class="col-md-6">
                                    <input id="login" type="text" class="form-control" name="_login" value="admin"
                                           required autofocus>
                                    <span class="invalid-feedback">
                                            <strong></strong>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="_password" value="secret"
                                           required>
                                    <span class="invalid-feedback">
                                            <strong></strong>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember"> Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                    <a class="btn btn-link" href="">Forgot your password?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}